cycler==0.10.0
future==0.18.2
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
six==1.15.0
torch @ file:///C:/Users/lishouxian/Desktop/torch-1.6.0%2Bcu101-cp36-cp36m-win_amd64.whl
torchvision @ file:///C:/Users/lishouxian/Desktop/torchvision-0.7.0%2Bcu101-cp36-cp36m-win_amd64.whl
